<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/PENTHOUSE_1.css">
</head>
<body>

    <section class="fix-back-img">
        
    </section>

    <header>
        <h2 class="logo">
            Luxury Los Santos
        </h2>

        <nav class="navigation">
            <a href="/" method="post" class="lines hideOnMobile">Home</a>
            <a href="/cart" method="post" class="lines hideOnMobile">Cart</a>
            <div class="dropdown hideOnMobile">
                <button class="dropbtn">Category 
                    <!-- <i class="fa fa-caret-down"></i> -->
                </button>
                <div class="dropdown-content">
                    <a href="/plans" method="post">Plans</a>
                    <a href="/cars" method="post">Cars</a>
                    <a href="/penthouses" method="post">Penthouses</a>
                    <a href="/yatches" method="post">Yachts</a>
                </div>
            </div>
            <button class="btnLogin-popup hideOnMobile">Login</button>
            <a href="/profile" method="post" class="lines hideOnMobile">Profile</a>

            <a href="#" class="last hideOnMobile" onclick=showSidebar()><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 448 512" width="26"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></a>


            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 384 512" width="26"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Category 
                        <!-- <i class="fa fa-caret-down"></i> -->
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Plans</a>
                        <a href="#">Cars</a>
                        <a href="#">Penthouses</a>
                        <a href="#">Yachts</a>
                    </div>
                </div>
                <button class="btnLogin-popup">Login</button>
            </ul>            
        </nav>
    </header>

    <section class="sec3-house">
        <div class="property-listing">
            <div class="header">
                <div class="headname">
                    <h1>EclipseTowers</h1>
                    <p class="price">$850,000</p>
                </div>
                <!-- <p class="buy-btn">Buy</p> -->
                <div class="headname1">
                    <button class="buy-btn">Buy</button>
                    <button class="buy-btn">Add Cart</button>
                 </div>
            </div>
            <div class="image-container">
                <img src="/styles/Assets/penthouses/EclipseTowersNight-GTAV.webp" alt="House Image">
            </div>
            <div class="property-details">
                <div class="description">
                    <h2>Penthouse Description</h2>
                    <p>This item is connected to a text field in your content collection. Double click what you want to edit and then select 'Change Content' to add your own content to the collection. Want to view and manage all your collections? Click the Content Manager icon on the add panel to your left. In the Content Manager, you can update items, add new fields, create dynamic pages and more.</p>
                </div>
                <div class="property-info">
    
                    <div class="col1-property">

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-bed"></i></p>
                            <p class="flexsymbole-text">Bedrooms</p>
                            <p class="flexsymbole-num">4</p>
                        </div>

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-warehouse"></i></p>
                            <p class="flexsymbole-text">Levels</p>
                            <p class="flexsymbole-num">3</p>
                        </div>

                    </div>

                    <div class="col2-property">

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-bath"></i></p>
                            <p class="flexsymbole-text">Bathrooms</p>
                            <p class="flexsymbole-num">2</p>
                        </div>

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-calendar-days"></i></p>
                            <p class="flexsymbole-text">Built Year</p>
                            <p class="flexsymbole-num">2035</p>
                        </div>

                    </div>
                    
                    <div class="col3-property">

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-maximize"></i></p>
                            <p class="flexsymbole-text">Sqft</p>
                            <p class="flexsymbole-num">1234</p>
                        </div>

                        <div class="flexsymbole">
                            <p class="symbolehouse"><i class="fa-solid fa-location-dot"></i></p>
                            <p class="flexsymbole-text">Main Location</p>
                            <p class="flexsymbole-num">San Francisco, USA</p>
                        </div>

                    </div>
    
                </div>
    
            </div>

            <div class="realtor-info">
                <h3>Brenda Rogers</h3>
                <p class="span-relator">Realtor | 123.456.78</p>
                <img src="/styles/Assets/logo_2.jpg" alt="Realtor Image">
                <div class="contact-info">
                    <h4>Email:</h4>
                    <p>info@mysite.com</p>
                    <h4>Phone:</h4>
                    <p>123-456-7890</p>
                </div>
            </div>
        </div>
    </section>

<script>
    const wrapper = document.querySelector('.wrapper');
const loginLink = document.querySelector('.login-link');
const registerLink = document.querySelector('.register-link');
const btnPopup = document.querySelector('.btnLogin-popup');
const iconClose = document.querySelector('.icon-close');


registerLink.addEventListener('click', () => {
wrapper.classList.add('active');
});

loginLink.addEventListener('click', () => {
wrapper.classList.remove('active');
});

btnPopup.addEventListener('click', () => {
wrapper.classList.add('active-popup');
});

iconClose.addEventListener('click', () => {
wrapper.classList.remove('active-popup');
});

function showSidebar(){
const sidebar = document.querySelector('.sidebar');
sidebar.style.display = 'flex';
}

function hideSidebar(){
const sidebar = document.querySelector('.sidebar');
sidebar.style.display = 'none';
}
</script>
</body>
</html>